.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 2rem;
	z-index: 3;
}

.Social_Icons {
	color: var(--line-color);
}

.icons > *:not(:last-child) {
	margin: 0.5rem 0;
}

.line {
	width: 2px;
	height: 8rem;
	background-color: var(--line-color);
}

/* Media Queries */
@media (max-width: var(--breakpoint-sm)) {
	.icons {
		left: 1rem;
	}
}
