/* li-icon.css */

.icon-container {
	position: absolute;
	left: 0;
}

.icon-svg {
	transform: rotate(-90deg);
}

@media (min-width: 768px) {
	.icon-svg {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 479px) {
	.icon-svg {
		width: 40px;
		height: 40px;
	}
}

.icon-circle-bg {
	stroke: #b63e96; /* Primary color for the background circle */
	stroke-width: 1px;
	fill: none;
}

.icon-circle-fill {
	fill: none;
	stroke: #f5f5f5; /* Light color for the animated circle */
	stroke-width: 5px;
}

.icon-center-circle {
	animation: pulse 1.5s infinite;
	fill: #b63e96; /* Primary color for the center circle */
	stroke-width: 1px;
}

.dark .icon-circle-bg {
	stroke: #58e6d9; /* Primary dark color for dark mode */
}

.dark .icon-circle-fill {
	stroke: #1b1b1b; /* Dark color for the animated circle in dark mode */
}

.dark .icon-center-circle {
	fill: #58e6d9; /* Dark mode primary color for the center circle */
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.05);
		opacity: 0.75;
	}
}
