/* Header.module.css */
.header {
	position: fixed;
	z-index: 50;
	width: 100%;
	background-color: var(--primary-color); /* Replace with your actual color */
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

@media (min-width: 1280px) {
	.header {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

/* Container styling */
.container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Link styling */
.cursorPointer {
	cursor: pointer;
}

/* Desktop navigation styling */
.hidden {
	display: none;
}

@media (min-width: 1280px) {
	.desktopNav {
		display: flex;
	}

	.desktopNav .gapX8 {
		gap: 2rem;
	}
}

/* Link styling for the "Hire me" button */
.hireMeBtn {
	font-size: 1rem; /* Adjust as needed */
	border-radius: 9999px;
	background-color: blue; /* Replace with your actual color */
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 500;
	color: white;
	transition: all 0.2s;
}

.hireMeBtn:hover {
	background-color: rgba(0, 0, 255, 0.8); /* Replace with your actual color */
}

/* Hero.module.css */
.hero-section {
	width: 100%;
	padding-top: 10rem;
}

.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2.5rem;
}

.flex-container-xl {
	flex-direction: row;
	padding-top: 2rem;
}

.text-container {
	text-align: center;
}

.text-container-xl {
	text-align: left;
}

.hero-title {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 3rem;
}

.hero-description {
	padding: 2rem 0;
}

.button-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button-container-xl {
	flex-direction: row;
	justify-content: flex-start;
	gap: 2rem;
}

.download-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border: 2px solid #1d4ed8;
	padding: 0.75rem 1.5rem;
	font-weight: medium;
	text-transform: uppercase;
	color: #1d4ed8;
	transition: all 0.3s;
	border-radius: 9999px;
}

.download-button:hover {
	background-color: rgba(29, 78, 216, 0.8);
	color: #f3f4f6;
}

.hero-image {
	/* You can style the image here */
}
